* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes entering {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: 'Grenze', serif;
    color: #000000;
    background-color: black;
    box-sizing: border-box;
    height: 700px;


}
html::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./plano_fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
  }

  

body {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 600px;
    display: flex;
}

header {
    width: 40%;
    border: 1px solid rgba(32, 30, 30, 0.438);
    font-size: 40px;
    padding: 40px;
    color: #3d5469;
    text-shadow: 3px 3px black;
    background-color: #d1cfce9c;
    letter-spacing: 3px;
    word-spacing: 35px;
    animation: entering 0.7s ease-in-out;

}

main {
    border: 1px solid rgba(32, 30, 30, 0.438);
    font-size: 25px;
    padding: 50px;
    width: 60%;
    animation: entering 0.7s ease-in-out;
    letter-spacing: 0.8px;
    background-color: #d1cfced8;

}

input {
    font-size: 20px;
    width: 200px;
    height: 25px;
}

button {
    font-size: 20px;
    width: auto;
    height: 25px;
    color: #D1CFCE;
    font-weight: bold;
    background-color: #3d5469;

}

footer {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    color: #D1CFCE;
    font-weight: bold;
}
footer a {
    color: #D1CFCE;
  }


@media (max-width: 768px) {
    body {

        width: 100%;
        margin: 20px;    
        padding: 0;}


    .container {
        padding: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    header {
        font-size: 25px;
        line-height: 1.0;
        width: 100%;
        padding: 50px;
    }
    main {
        font-size: 20px;
        padding: 0;
        width: 100%;
        padding: 35px;
    }

    input {
        font-size: 18px;
        width: 150px;
        height: 20px;
    }
    
    button {
        font-size: 15px;
        height: 22px;
    }
    
    footer {
        font-size: 15px;
    }

}